.container {
  padding: 10px;
  background: #c0c0c0;
  font-family: 'Segoe UI', sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabs {
  display: flex;
  margin-bottom: -1px; /* Overlap border */
  padding-left: 5px;
}

.tab, .tabActive {
  padding: 3px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #fff;
  border-right-color: #000;
  border-bottom-color: #000;
  background: #c0c0c0;
  margin-right: 2px;
  cursor: default;
}

.tabActive {
  margin-top: -2px;
  padding-bottom: 5px;
  border-bottom: none;
  z-index: 10;
  position: relative;
}

.content {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 15px;
  flex: 1;
}

.row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.userIcon {
  width: 32px;
  height: 32px;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field {
  display: flex;
  align-items: center;
  gap: 10px;
}

.field label {
  width: 50px;
  text-align: right;
}

.field input {
  flex: 1;
  padding: 2px 4px;
  outline: none;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: #fff;
}

.inputGroup {
    flex: 1;
    display: flex;
    gap: 5px;
}

.inputGroup button {
    padding: 0 5px;
    background: #c0c0c0;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.inputGroup button:active {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.group {
  border: 1px solid #808080;
  padding: 10px;
  margin-top: 10px;
}

.group legend {
  padding: 0 5px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.linkItem {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
  padding: 2px;
}

.linkItem:hover {
  background: #000080;
  color: white;
}

.linkItem img {
  width: 16px;
  height: 16px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.btn {
  min-width: 70px;
  padding: 4px;
  background: #c0c0c0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  cursor: pointer;
}

.btn:active {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
